name: Reusable SonarQube Workflow

on:
  workflow_call:
    inputs:
      projectKey:
        required: true
        type: string
      sonarHostUrl:
        required: true
        type: string
      sonarOrg:
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        required: true

jobs:
  sonar_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: m2

      - name: Maven Build + Sonar Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B clean verify \
            org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=${{ inputs.projectKey }} \
            -Dsonar.organization=${{ inputs.sonarOrg }} \
            -Dsonar.host.url=${{ inputs.sonarHostUrl }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
